/*
****** LIMPAR FORMATAÇÕES ******
*/
*{
    margin: 0;
    padding: 0;
}

/*
****** FORMATAÇÕES GENÉRICAS ******
*/

body{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #C4C4C4;
}

h1{
    color: #252525;
    font-size: 40px;
}

h2{
    color: #312d69;
}

h3{
    color: #21183b;
    background: #CCCCCC;
    padding: 5px;
}

/*
****** HEADER ******
*/
#header{
    background-color: #464099;
    padding: 15px;
    text-align: center;
}

#Logo, #menu {
    padding: 10px;
}

#header a:Link, #header a:visited{
    color: #FFFFFF;
    padding: 8px 12px;
}

#header a:hover{
    color: #464099;
    background: #FFFFFF;
    text-decoration: none;
}

.white{
    color:#FFFFFF;   
}

/*
****** CONTENT ******
*/

#content{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts{
    width: 660px;
    float: left;
}

.post{
    padding: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    text-align: justify;
}

.data-post{
    font-size: 13px;
    border-bottom: 1px solid #464099;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.img-post{
    width: 620px;
}

/*
****** RIGHT SIDE ******
*/

#right-side{
    width: 240px;
    float: right;
}

.content-right{
    background: #FFFFFF;
    padding: 10px;
    margin: 20px;
}

.posts-right{
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px dotted #CCCCCC;
}

/*
****** FORMATAÇÃO LINKS  ******
*/

a{
    text-decoration: none;
}

a:Link, a:visited{
    color: #464099;
}

a:hover{
    text-decoration: underline;
}

/*
****** FOOTER ******
*/

#footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #FFFFFF;
    color: #464099;
}